---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/fredoka/300.css";
import "@fontsource/fredoka/400.css";
import "@fontsource/fredoka/500.css";
import "@fontsource/fredoka/600.css";
import "@fontsource/fredoka/700.css";

interface Props {
  title?: string;
  footerMargin?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title, footerMargin = true } = Astro.props;

const makeTitle = title
  ? title + " | " + "Carbsy"
  : "Carbsy - AI-Powered Carb Tracker for Diabetes & Keto";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Estimate carbs in seconds using your voice, camera, or text. Carbsy is the easiest way to track carbs, net carbs, and macros for diabetes and keto diets."
      canonical={canonicalURL}
      twitter={{
        creator: "@carbsyapp",
        site: "@carbsyapp",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Carbsy - AI-Powered Carb Tracker for Diabetes & Keto`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Carbsy App Screenshot",
        },
      }}
    />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      /* Remove arrows from list-style - fix for tailwindcss */
      details > summary.list-none::-webkit-details-marker,
      details > summary.list-none::marker {
        display: none;
      }
    </style>
    <!-- Enable this if you want to use Astro ViewTransitions  -->
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer margin={footerMargin} />
  </body>
</html>
